@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.Index {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

*{
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin:0px;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

/*Header*/
header {
  padding: 20px 100px;
  justify-content: space-between;
  align-items: center;
}

header, header ul {
  display: flex;
  flex-direction: row;
  column-gap: 35px;
}
li {
  list-style-type: none;
}
header a {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 24px;
  text-decoration: none;
}
header a:hover {
  text-decoration: underline;
  color:black;
}

/*Banner*/
.banner {
  position:relative;
  width:100%;
  height: 224px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 25px;
}
.banner_image{
  position:absolute;
  object-fit: cover;
  z-index:1;
  filter:brightness(65%)
}
.banner_title {
  position:relative;
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  color: white;
  z-index: 2;
}

/* Page Accueil */
.accueil, .apropos {
  padding: 10px 100px;
}
.gallery {
  margin: 50px 0 50px;
  width:100%;
  padding:50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 50px;
  row-gap: 50px;
  background-color: #f6f6f6;
  border-radius: 25px;;
}
.gallery-item {
  width:100%;
  height:340px;
  border-radius:10px;
  overflow: hidden;
  position:relative;
}
.gallery_item_image {
  object-fit: cover;
  width:100%;
  height:100%;
}
.gallery_image-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  pointer-events: none;
}
.gallery_item_title {
  color:white;
  position:absolute;
  padding: 0px 20px;
  bottom:15px;
  left:0px;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 18px;
}
/*Page A propos*/
.apropos-item{
  margin-bottom:30px;
  position:relative;
}
.apropos_list{
  padding: 50px 100px 20px 100px;
}
.title_box{
  background-color: #ff6060;
  margin:auto;
  width:100%;
  height:54px;
  display: flex;
  align-items: center;  
  justify-content: space-between;
  padding:0 20px;
  border-radius: 10px;
}
.arrow_toggle{
  width:24px;
  filter:invert(100%);
  transition: transform 0.5s ease;
}
.arrow_toggle.rotated{
  transform: rotate(180deg);
}
.apropo-title{
  font-weight: 700;
  font-size: 24px;
  color:white; 
}
.description_box {
  position:relative;
  top:-10px;
  margin:0;
  width:100%;
  background-color: #f6f6f6;
  padding:30px 20px 20px 20px;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  opacity: 0;
  z-index: -1;
}
.description_box.visible{
  opacity: 1;
}
.description_box.hidden{
  opacity: 0;
}
.description_box p{
  font-size: 18px;
}
/*page_Logement*/
.logement{
padding: 30px 100px;
}
.logement_banner {
  width:100%;
  height: 415px;
  position:relative;
  overflow: hidden;
  border-radius: 25px;
  display: flex;
  align-items: center;
}

.logement_bannerImage{
  object-fit: cover;
  width:100%;
  position: absolute;
}

.arrow {
  height:80px;
  filter: invert(100%);
  position: absolute;
}

.arrow_left {
  left: 20px;
}

.arrow_right {
right: 20px;
}

.logement_content{
  padding:30px 0;
  display: flex;
  flex-direction: column;
}

.logement_content-arrange {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logement_content p{
  font-size: 18px;
  padding-top:10px
}

.logement_title {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.logement_content h2 {
  text-align: left;
  font-size: 36px;
  font-weight: 500;
  color: #ff6060;
}

.logement_content h2, .host_name {
  color: #ff6060;
  text-align: right;
}

.host{
display: flex;
flex-direction: row;
column-gap: 20px;
align-items: center;
padding-bottom:30px;
}

.host_image {
  width:64px;
  height:100%;
  object-fit: cover;
  border-radius: 100%;
}

.description, .equipement  {
  width:47%;
  padding:10px;
  position:relative;
}

.title_block {
  height:52px;
  background-color: #ff6060;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:20px;
  border-radius: 10px;
}

.content_block {
  background-color:#f6f6f6;
  padding: 20px;
}

.equipement li{
margin-bottom:5px;
}

/* footer */
footer{
  width:100%;
  height:210px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-logo {
  margin: 0 auto;
}

.logo{
  margin-top:30px;
  width: 122px;
  height:40px;
  filter:grayscale(100%) brightness(200%);
}

.footer_txt {
  text-align: center;
  color:white;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 24px;
  padding: 40px 0 20px 0;

}